@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

.ManagementNavbarDiv{
    min-width: 200px;
    max-width: 250px;    
    border-right: 1px solid black;
    flex-direction: row;
    font-family: 'pretendard';
}

.ManagementNavbarUl {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;    
    list-style:none;
    padding-left:0px;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.ManagementNavbarUl li {
    width: 100%;
    padding-left: 20px;
    height: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;    
    color: black;
}

a:focus, a:hover {
    text-decoration: none;
    color: rgb(53,122,251);
    font-weight: bold;
}